/* Home */
.services {
  width: 100%;
}

.services .contactbtnwrap a, .contactbtn {
  background: #1FB25A;
  display: inline-block;
  padding:25px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.service {
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 999;
}
.service h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 17px 0;
  color: #1FB25A;
}
.service .icon {
  width: 100px;
  height: 100px;
  background: #1FB25A;
  border-radius: 15px;
  display: block;
  margin: -50px auto 0 auto;
  text-align: center;
}
.service p {
  padding: 0 25px;
}
.service .icon.icon-leaf:before, .service .icon.icon-calendar-empty:before, .service .icon.icon-wrench:before, .service .icon.icon-ok:before {
  color: white;
  line-height: 100px;
  font-size: 2.5em;
  margin-top: -2px;
}