$main-font-family: source-sans-pro, sans-serif;
$secondary-font-family:  'Roboto', sans-serif;
$tertiary-font-family : open-sans,sans-serif;

$main-color: #1FB25A;
$main-color-light: #2fc46a;
$main-color-rgba: rgba(31, 178, 90, 0.7);